/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.service-links {
	text-align: center;
}

.service-links ul.links {
	display: inline-block;
	float: right;
}

.fb_iframe_widget {
	line-height: 7px;
}

.submitted {
	float: left;
}
.field-type-taxonomy-term-reference {
	text-align: center;
}

.field-name-social-links {
	float: right;
}

.twit-pic {
	float: left;
	border: ridge;
	margin-right: 5px;
}

.EDGE-95801596 {
	text-align: center;
}

/*.logo_over {
    position: absolute;
    z-index: 2;
    float: right;
    top: 20px;
    right: 20px;
}

.nav_over {
    z-index: 3;
    float: right;
    top: 700px;
    right: 20px;
    position: absolute;
}*/

/* post parallax */

.navbar {
 /*   position: fixed;*/
    width: 100%;
    /*z-index: 999999;*/
    top: 0px;
    left: 0px;
    font-size: 14px;
}

.navbar-inner {
    opacity: 1;
}

.EDGE-535282971 {
/*    margin-top: 10px;*/
    display: inline-block;
    float: right;
}

.views-field-body {
    font-family: 'futura-pt';
    font-size: 1.2em;
    font-style: normal;
    font-weight: 300;
}

.follow-box .content-bottom {
    display: none;
}

.follow-box {
    width: 100% !important;
}

.follow-box .content ul li {
    list-style: none;
}

.breadcrumb {
    display: none;
}

big {
    font-weight: 400;
}

.syntaxhighlighter .toolbar {
    display: none;
}

.container:before, .container:after {
    content:normal;
}
