@media screen and (min-width:640px) and (max-width:767px){
    
    #head_logo img{ width:100%;}
    .section-title h1{ font-size:3em; }
    .par_left{ width:100%;}
    .par_right{ width:100%;}
    .parallax-content .col-md-1{ width:33%;}
    .element-line form{ width:90%; margin: 0 auto;}
    .element-line form .row{ margin-left: 0px; margin-right: 0px;}
}
@media screen and (min-width:320) and (max-width:639px){
    #head_logo img{ width:100%;}
    .section-title h1{ font-size:3em; }
    .par_left{ width:100%;}
    .par_right{ width:100%;}
    .parallax-content .col-md-1{ width:33%;}
    .element-line form{ width:90%; margin: 0 auto;}
    .element-line form .row{ margin-left: 0px; margin-right: 0px;}
    
}