/* Link Colors */

#block-block-1 {
	background: #0088CC;
}

.footer-head-container{
	background: #0088CC;
}

#block-widgets-s-socialmedia-profile-buttons a:hover {
	background: none repeat scroll 0 0 #0088CC;
}

.footer img:hover {
    background: none repeat scroll 0 0 #0088CC;
    border: 1px solid #0088CC;
}

.view-slash-latest-news-home .views-row:hover img{
    background: none repeat scroll 0 0 #0088CC;
    border: 1px solid #0088CC;
}

.view-slash-portfolio-4-columns .views-row .views-field-nothing:hover {
	border: 4px solid #0088CC;
}

#block-views-slash-home-items-block-1{
	background: none repeat scroll 0 0 #0088CC;
}

.view-slash-blog .views-row img:hover{
    background: none repeat scroll 0 0 #0088CC;
    border: 1px solid #0088CC;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #0088CC;
    background-image: none;
}


/* Closure Back */

.closure-container{
	background: #000000;
}


/* Footer Back */

.footer {
    background: none repeat scroll 0 0 #333333;
}


/* Body Back */

body {
    background: none repeat scroll 0 0 #ffffff;
}


/* InterContent Container Region */

.inter-content-container{
	background-color: #eeeeee;
}